
<div class="navbar navbar-expand-sm bg-light p-0 pe-4">
    <img class="navbar-brand p-0"  loading="lazy" style="max-height: 80px;" src="assets/img/logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end px-2" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/#secao6">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="statement">Cases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="taxes">Contact</a>
            </li>
        </ul>
    </div>
</div>