<div class="container-about bg-light-subtle">
    <div class="container mt-5 py-4">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="text-center">
              <h2>Welcome to Latrell's Enterprises!</h2>
              <p class="lead mt-3">
                At Latrell's Enterprises, our founder Latrell Spencer isn't just a public figure - he's a living legend! Known for his basketball skills and commanding presence, Latrell has decided to take his career to new heights beyond the courts.
              </p>
              <p class="mt-3">
                Our mission at Latrell's Enterprises is simple: to be the best at everything we do, from business services to high-profile entertainment. Latrell knows better than anyone how to make a lasting impression - whether at a gala event or on the dance floor!
              </p>
              <p class="mt-3">
                Whether you're looking for style consulting, VIP event planning, or networking training, Latrell and his team are here to ensure you stand out and succeed. Join us at Latrell's Enterprises and let's make you a star!
              </p>
              <p class="mt-3">
                We believe in elegance, fun, and self-love - values that define our approach to business and community engagement. Come meet Latrell and experience the difference at Latrell's Enterprises.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
