<div class="container-fluid">
  <app-header></app-header>
</div>
<div class="container-fluid" href="#">
  <div class="grid">
    <div class="row" id="secao1">
      
      <h1 style="height:  200px;">Conteúdo da seção 1</h1>
    </div>
    <div style="height:  200px;"class="row" id="secao2">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row" id="secao3">
      
      <h1>Conteúdo da seção 3</h1>
    </div>
    <div style="height:  200px;"class="row" id="secao3">
      
      <h1>Conteúdo da seção 4</h1>
    </div>
    <div style="height:  200px;"class="row" id="secao3">
      
      <h1>Conteúdo da seção 5</h1>
    </div>
    <div style="height:  200px;"class="row" id="secao3">
      
      <h1>Conteúdo da seção 6</h1>
    </div>
  </div>
</div>
<!-- <div class="container">
  <app-header></app-header>
</div>

<div class="container">
  
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>PRIMEIRO ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
    
  </div>
</div> -->
