<div class="container-fluid">
  <app-header></app-header>
</div>

<div class="container-fluid" data-bs-spy="scroll" data-bs-target="#navbar-scrollspy" data-bs-offset="0">
  <div class="grid">
    <div class="row" id="scrollspyCases">
      <app-cases></app-cases>
    </div>    
    <div class="row" id="scrollspyAbout">
      <app-about></app-about>
    </div>
    <div class="row" id="scrollspyContact">
      <app-contact></app-contact>
    </div>
  </div>
</div>
<!-- <div class="container">
  <app-header></app-header>
</div>

<div class="container">
  
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>PRIMEIRO ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
    
  </div>
</div> -->
