<div class="container-fluid">
  <app-header></app-header>
</div>

<div class="container-fluid" data-bs-spy="scroll" data-bs-target="#navbar-scrollspy" data-bs-offset="0">
  <div class="grid">
    <div class="row" id="secao1">
      
      <h1 style="height:  200px;">Conteúdo da seção 1</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row" id="scrollspyAbout">
      
      <h1>Conteúdo da seção ABOUT</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 2</h1>
    </div>
    <div style="height:  200px;"class="row">
      
      <h1>Conteúdo da seção 3</h1>
    </div>
   
    <div style="height:  200px;"class="row" id="scrollspyCases">
      
      <h1>Conteúdo da seção CASES</h1>
    </div>
    <div style="height:  200px;"class="row" id="scrollspyContact">
      
      <h1>Conteúdo da seção CONTACT</h1>
    </div>
  </div>
</div>
<!-- <div class="container">
  <app-header></app-header>
</div>

<div class="container">
  
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>PRIMEIRO ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    <div class="col">
      <h1>ASDFASDFASDF</h1>

    </div>
    
    
  </div>
</div> -->
